.section-header {
    margin-bottom: calc(var(--padding-primary) / 2);
}
.section-header h4 {
    color: var(--color-primary);
    text-decoration: none;
}
.section-header span {
    color: var(--color-light);
    font-size: 25px;
    text-decoration: underline;
    font-weight: var(--font-weight-bold);
}

@media screen and (max-width: 767px) {
    .section-header h4,
    .section-header span {
        font-size: 20px;
        text-align: center;
    }
}